:root {
    --img-size: 200px;
    --discount-distance: 12px;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    padding: 12px;
}

.product {
    overflow: hidden;
    background-color: #30475E;
    border-radius: 12px;
    padding-bottom: 12px;
    position: relative;
}

.product-content {
    padding: 12px;
    color: #fff;
}

.product-item {
    padding: 6px;
}

.product-item.discount {
    position: absolute;
    top: var(--discount-distance);
    right: calc(var(--discount-distance) + 3px);
    background-color: #F05454;
    border-radius: 5px;
    color: #fff;
    padding: 4px;
    box-shadow: 0 0 10px #000;
    z-index: 1;
}

.product-item.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2; 
           line-clamp: 2;
}

.product-item.brand {
    font-size: 80%;
    color: #F05454;
}

.product-item.dsc {
    font-size: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ccc;
}


.product-item.category {
    font-size: 80%;
    color: #F6FFDE;
}

.product-img.img-wrap {
    max-width: 100%;
    min-width: 100%;
    max-height: var(--img-size);
    /* display: none; */
}

.product-item.price {
    color: #54B435;
    display: inline-block;
}

.product-footer {
    padding: 12px;
}

.product-item.btn {
    background-color: #F05454;
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    display: inline-block;
    float: right;
    user-select: none;
    cursor: pointer;
}

.product-item.btn:hover {
    background-color: #c74646;
}

.img {
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    height: var(--img-size);
    background-position: center;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.2);
}

.image-viewer {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay>img {
    border-radius: 12px;
    animation: popup ease 1s;
    object-fit: cover;
    max-width: calc(100vw - 24px);
}

#close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
  }

#close:hover {
    opacity: 0.8;    
}

#close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}

#close:before {
    transform: rotate(45deg);
}

#close:after {
    transform: rotate(-45deg);
}